
REApp/.vs/REApp/config/applicationhost.config
REApp/.vs/REApp/FileContentIndex/35c6c086-23ba-4295-8f1c-c1456ff800f4.vsidx
REApp/.vs/REApp/FileContentIndex/5510c7b0-4f59-40d4-bd10-9cc0d73be2dc.vsidx
REApp/.vs/REApp/FileContentIndex/6cd60da3-0cca-483a-bbd2-cd67a4d71493.vsidx
REApp/.vs/REApp/FileContentIndex/6eb075dd-1995-485a-8417-0a9125e6df0e.vsidx
REApp/.vs/REApp/FileContentIndex/ceb79445-5b94-4860-8e40-0068454c6e51.vsidx
REApp/.vs/REApp/v17/.suo
REApp/REApp.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
REApp/REApp.Tests/obj/Debug/REApp.Tests.csproj.AssemblyReference.cache
REApp/REApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
