<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- Cadenas de conexión a MSSQL -->
    <!--Cada uno debería poner su cadena de conexión aca, comentando las del resto-->
    <!--Esta es la de Azure, no la saquen-->
    <add name="bd_reapp" connectionString="Server=tcp:reappserver.database.windows.net,1433;Initial Catalog=bd_reapp;Persist Security Info=False;User ID=franco;Password=Homero23;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="REApp.Models" connectionString="Server=tcp:reappserver.database.windows.net,1433;Initial Catalog=bd_reapp;Persist Security Info=False;User ID=franco;Password=Homero23;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name = "ProyectoFinal" connectionString="Data Source=DESKTOP-2L8MG4Q\SQLEXPRESS;Initial Catalog=ProyectoFinal;Integrated Security=True"/>-->
  </connectionStrings>
  <appSettings>
    <!-- Umbral en milisegundos para registrar las acciones de MagicSQL en el log -->
    <add key="MagicSQL.MsToLog" value="100" />
    <!-- Habilita el uso de los objetos MagicSQL Query (Qy) para ejecutar instrucciones T-SQL -->
    <add key="MagicSQL.EnableQy" value="true" />
    <!-- CryptoID Key 128 bits(16 chars) -->
    <add key="MagicSQL.CryptoIdKey" value="1234567890abcdef" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>